@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #282a36;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased;
}

#userAvatar {
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
    border-style: solid;
    border-color: #50fa7b;
    border-width: 8px;
}

#userLogin {
    color: #ff79c6;
    font-size: 20px;
    margin-top: 1rem;
}

.wrapperLinks {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.link {
    width: 20rem;
    height: 3rem;
    color: #f8f8f2;
    font-weight: 600;
    background-color: #282a36;
    border-radius: 5px;
    border-style: solid;
    border-color: #f8f8f2;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.link:hover {
    transition: 0.5s;
    cursor: pointer;
    border-color: #ff79c6;
    color: #ff79c6;
}

.wrapperSocialMedias {
    width: 15rem;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.socialMedia:hover {
    -webkit-animation: rotate-center 0.4s ease-in-out both;
	        animation: rotate-center 0.4s ease-in-out both;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }  